<div class="mt">
    <h1>{{.Titulo}}</h1>
    <ul class="clearfix valign">
        <a class="back icn r1" title="Mis Cotizaciones" onclick='navlink("/pages/AdminCotizacion")'></a>
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign">
                <li class="back" onclick="backurl()"></li>
                <li class="back" onclick="backurl()"></li>
            </ul>
        </div>
        <form action="" method="post" class="basic-grey">
            <fieldset>
                <input id="id" type="hidden" value="{{.FormId}}" />
                <input id="accion" type="hidden" value="{{.FormAccion}}" />
                <label>
                    <span>Propiedades:</span>
                    <select id="id_emp">
                        <option value="0">Seleccionar</option>
                        {{ range .Lista2 }}
                        <option value="{{.Id}}" {{if eq $.FormIdRec .Id}}selected{{end}} >{{.Nombre}}</option>
                        {{end}}
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Precio en UF:</span>
                    <input id="precio" type="text" value="{{.PrecioUf}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <div>
                    <input type="button" onclick="fm(this)" value="Enviar">
                </div>
            </fieldset>
        </form>
    </div>
</div>
{{if .Lista}}
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign">
                <li class="back" onclick="backurl()"></li>
                <li class="back" onclick="backurl()"></li>
            </ul>
        </div>
        <ul class='lu'>
            {{range .Lista}}
            <li class="u" rel="{{.Id}}">
                <div class="no">Cotizacion #{{.Id}} {{.Nombre}}</div>
                <div class="btns clearfix valign">
                    <a title="Eliminar" class="icn del" onclick="eliminar('{{$.DelAccion}}',{{.Id}},'{{$.DelObj}}','{{.Nombre}}')"></a>
                    <a title="Modificar" class="icn mod" onclick="navlink('{{$.PageMod}}?id={{.Id}}')"></a>
                    <a title="Configurar" class="icn con" onclick="navlink('/pages/confCotizacion?id_cot={{.Id}}')"></a>
                    <a title="Enviar" class="icn env" onclick="navlink('/pages/envCotizacion?id_cot={{.Id}}')"></a>
                    <a title="Descargar" class="icn dow" href="/cotizacion/cotizacion_{{.Id}}.pdf" download></a>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
</div>
{{end}}
<br />
<br />