<script>

    document.getElementById('permiso_edificacion').addEventListener('change', function() {
        if (this.value == 7){
            document.getElementsByClassName('especificar')[0].style.display = "block"
        }else{
            document.getElementsByClassName('especificar')[0].style.display = "none"
        }
    })
    document.getElementById('recepcion').addEventListener('change', function() {
        if (this.value == 1){
            document.getElementsByClassName('recepcion')[0].style.display = "block"
        }else{
            document.getElementsByClassName('recepcion')[0].style.display = "none"
        }
    })

</script>
<div class="mt">
    <h1>{{.Titulo}}</h1>
    <ul class="clearfix valign">
        <a class="back icn r1" title="Minicipal" onclick='navlink("/pages/crearPropiedad2?id={{.FormId}}")'></a>
        <a class="back icn r2" title="Permiso Edificación" onclick='navlink("/pages/crearPropiedad3?id={{.FormId}}")'></a>
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign">
                <li class="back" onclick="backurl()"></li>
                <li class="back" onclick="backurl()"></li>
            </ul>
        </div>
        <form action="" method="post" class="basic-grey">
            <fieldset>
                <input id="id" type="hidden" value="{{.FormId}}" />
                <input id="id_rec" type="hidden" value="{{.FormIdRec}}" />
                <input id="accion" type="hidden" value="{{.FormAccion}}" />
                <label>
                    <span>Tipo de Permiso Edificación:</span>
                    <select id="permiso_edificacion">
                        <option value="0" {{if eq .PermEdificacion 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .PermEdificacion 1}}selected{{end}}>Obra Nueva</option>
                        <option value="2" {{if eq .PermEdificacion 2}}selected{{end}}>Obra menor alteración (Menor a 100m2)</option>
                        <option value="3" {{if eq .PermEdificacion 3}}selected{{end}}>Obra menor alteración (Mayor a 100m2)</option>
                        <option value="4" {{if eq .PermEdificacion 4}}selected{{end}}>Modificación de Proyecto</option>
                        <option value="5" {{if eq .PermEdificacion 5}}selected{{end}}>Alteración</option>
                        <option value="6" {{if eq .PermEdificacion 6}}selected{{end}}>Recontrucción</option>
                        <option value="7" {{if eq .PermEdificacion 7}}selected{{end}}>Otro Especificar</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label class="especificar" {{if eq .PermEdificacion 7}}style="display:block"{{else}}style="display:none"{{end}}>
                    <span>Especificar Permiso:</span>
                    <input id="especificar_permiso" type="text" value="{{.EspecificarPermiso}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Numero de Permiso:</span>
                    <input id="num_permiso" type="text" value="{{.Npermiso}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Fecha:</span>
                    <input id="fecha_permiso" type="date" value="{{.FechaPermiso}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Documento:</span>
                    <input id="documento" type="file" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Recepción:</span>
                    <select id="recepcion">
                        <option value="0" {{if eq .Recepcion 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .Recepcion 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .Recepcion 2}}selected{{end}}>No</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label class="recepcion" {{if eq .Recepcion 1}}style="display:block"{{else}}style="display:none"{{end}}>
                    <span>Recepción Definitiva:</span>
                    <select id="recepcion_final">
                        <option value="0" {{if eq .RecepcionFinal 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .RecepcionFinal 1}}selected{{end}}>Total</option>
                        <option value="2" {{if eq .RecepcionFinal 2}}selected{{end}}>Parcial</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <input type="button" onclick="fm(this)" value="Enviar">
                </label>
            </fieldset>
        </form>
    </div>
</div>

{{if .Lista}}
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign">
                <li class="back" onclick="backurl()"></li>
                <li class="back" onclick="backurl()"></li>
            </ul>
        </div>
        <ul class='lu'>
            {{range .Lista}}
            <li class="u" rel="{{.Id}}">                
                <div class="no">{{.Nombre}}</div>
                <div class="btns clearfix valign">
                    <a title="Eliminar" class="icn del" onclick="eliminar('{{$.DelAccion}}', {{.Id}}, '{{$.DelObj}}', '{{.Nombre}}')"></a>
                    <a title="Modificar" class="icn mod" onclick="navlink('{{$.PageMod}}?id={{$.FormId}}&id_rec={{.Id}}')"></a>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
</div>
{{end}}