
<div class="mt">
    <h1>{{.Titulo}}</h1>
    <ul class="clearfix valign">
        <li class="back" onclick="backurl()"></li>
        <li class="back" onclick="backurl()"></li>
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign">
                <li class="back" onclick="backurl()"></li>
                <li class="back" onclick="backurl()"></li>
            </ul>
        </div>
        <form action="" method="post" class="basic-grey">
            <fieldset>
                <input id="id" type="hidden" value="{{.FormId}}" />
                <input id="accion" type="hidden" value="{{.FormAccion}}" />
                <label>
                    <span>Tramites Municipales:</span>
                    <select id="tramites_municipales">
                        <option value="0" {{if eq .TramitesMunicipales 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .TramitesMunicipales 1}}selected{{end}}>Solicitud de Fusion - Subdivicion Predial</option>
                        <option value="2" {{if eq .TramitesMunicipales 2}}selected{{end}}>Solicitud de Permisos de Obra</option>
                        <option value="3" {{if eq .TramitesMunicipales 3}}selected{{end}}>Solicitud de Recepcion Definitiva</option>
                        <option value="4" {{if eq .TramitesMunicipales 4}}selected{{end}}>Solicitud de Patentes</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Revisor Independiente de Arquitectura:</span>
                    <input id="revisor_independiente_arq" type="text" value="{{.RevisorIndependienteArq}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Proyecto Calculo Estructural:</span>
                    <input id="proyecto_calculo_estructural" type="text" value="{{.ProyectoCalculoEstructural}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Topografia:</span>
                    <input id="topografia" type="text" value="{{.Topografia}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Estimacion Canon de Arriendo:</span>
                    <input id="estimacion_canon_arriendo" type="text" value="{{.EstimacionCanonArriendo}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Estudio de Mercado:</span>
                    <input id="estudio_de_mercado" type="text" value="{{.EstudioMercado}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Corretaje Inmuebles:</span>
                    <select id="corretaje_inmuebles">
                        <option value="0" {{if eq .CorretajeInmuebles 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .CorretajeInmuebles 1}}selected{{end}}>Compra / Venta</option>
                        <option value="2" {{if eq .CorretajeInmuebles 2}}selected{{end}}>Arriendo</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <input type="button" onclick="fm(this)" value="Enviar">
                </label>
            </fieldset>
        </form>
    </div>
</div>