
<div class="mt">
    <h1>{{.Titulo}}</h1>
    <ul class="clearfix valign">
        <a class="back icn r1" title="Situación Legal" onclick='navlink("/pages/crearPropiedad5?id={{.FormId}}")'></a>
        <a class="back icn r2" title="Avalúo Comercial" onclick='navlink("/pages/crearPropiedad7?id={{.FormId}}")'></a>
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <!--
            <ul class="clearfix valign">
                <li class="back" onclick="backurl()"></li>
                <li class="back" onclick="backurl()"></li>
            </ul>
            -->
        </div>
        <form action="" method="post" class="basic-grey">
            <fieldset>
                <input id="id" type="hidden" value="{{.FormId}}" />
                <input id="accion" type="hidden" value="{{.FormAccion}}" />

                <label>
                    <span>Serie:</span>
                    <select id="fiscal_serie">
                        <option value="0" {{if eq .FiscalSerie 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .FiscalSerie 1}}selected{{end}}>Agricola</option>
                        <option value="2" {{if eq .FiscalSerie 2}}selected{{end}}>No Agricola</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Destino:</span>
                    <select id="fiscal_destino">
                        <option value="0" {{if eq .FiscalDestino 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .FiscalDestino 1}}selected{{end}}>Comercial</option>
                        <option value="2" {{if eq .FiscalDestino 2}}selected{{end}}>Industrial</option>
                        <option value="3" {{if eq .FiscalDestino 3}}selected{{end}}>Habitacional</option>
                        <option value="4" {{if eq .FiscalDestino 4}}selected{{end}}>Educacional</option>
                        <option value="5" {{if eq .FiscalDestino 5}}selected{{end}}>Salud</option>
                        <option value="6" {{if eq .FiscalDestino 6}}selected{{end}}>Otro</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Rol Manzana:</span>
                    <input id="rol_manzana" type="text" value="{{.RolManzana}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Rol Predio:</span>
                    <input id="rol_predio" type="text" value="{{.RolPredio}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Exento:</span>
                    <select id="fiscal_exento">
                        <option value="0" {{if eq .FiscalExento 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .FiscalExento 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .FiscalExento 2}}selected{{end}}>No</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Avaluo Fiscal:</span>
                    <input id="avaluo_fiscal" type="text" value="{{.AvaluoFiscal}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Contribucion:</span>
                    <input id="contribucion_fiscal" type="text" value="{{.ContribucionFiscal}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <div>
                    <input type="button" onclick="fm(this)" value="Enviar">
                </div>
            </fieldset>
        </form>
    </div>
</div>