<script>

    document.getElementById('electrico_te1').addEventListener('change', function() {
        if (this.value == 1){
            document.getElementsByClassName('electrico_te1')[0].style.display = "block"
        }else{
            document.getElementsByClassName('electrico_te1')[0].style.display = "none"
        }
    })
    document.getElementById('dotacion_ap').addEventListener('change', function() {
        if (this.value == 1){
            document.getElementsByClassName('dotacion_ap')[0].style.display = "block"
        }else{
            document.getElementsByClassName('dotacion_ap')[0].style.display = "none"
        }
    })
    document.getElementById('dotacion_alcance').addEventListener('change', function() {
        if (this.value == 1){
            document.getElementsByClassName('dotacion_alcance')[0].style.display = "block"
        }else{
            document.getElementsByClassName('dotacion_alcance')[0].style.display = "none"
        }
    })
    document.getElementById('instalacion_ascensor').addEventListener('change', function() {
        if (this.value == 1){
            document.getElementsByClassName('instalacion_ascensor')[0].style.display = "block"
        }else{
            document.getElementsByClassName('instalacion_ascensor')[0].style.display = "none"
        }
    })
    document.getElementById('te1_ascensor').addEventListener('change', function() {
        if (this.value == 1){
            document.getElementsByClassName('te1_ascensor')[0].style.display = "block"
        }else{
            document.getElementsByClassName('te1_ascensor')[0].style.display = "none"
        }
    })
    document.getElementById('certificado_ascensor').addEventListener('change', function() {
        if (this.value == 1){
            document.getElementsByClassName('certificado_ascensor')[0].style.display = "block"
        }else{
            document.getElementsByClassName('certificado_ascensor')[0].style.display = "none"
        }
    })
    document.getElementById('clima').addEventListener('change', function() {
        if (this.value == 1){
            document.getElementsByClassName('clima')[0].style.display = "block"
        }else{
            document.getElementsByClassName('clima')[0].style.display = "none"
        }
    })
    document.getElementById('seguridad_incendio').addEventListener('change', function() {
        if (this.value == 1){
            document.getElementsByClassName('seguridad_incendio')[0].style.display = "block"
        }else{
            document.getElementsByClassName('seguridad_incendio')[0].style.display = "none"
        }
    })

</script>
<div class="mt">
    <h1>{{.Titulo}}</h1>
    <ul class="clearfix valign">
        <a class="back icn r1" title="Permiso Edificación" onclick='navlink("/pages/crearPropiedad2PermisoEdificacion?id={{.FormId}}")'></a>
        <a class="back icn mdl" title="Detalle Propiedad" onclick='navlink("/pages/detallePropiedad?id={{.FormId}}")'></a>
        {{if eq .NextPage 4}}
        <a class="back icn r2" title="Situación Comercial" onclick='navlink("/pages/crearPropiedad4?id={{.FormId}}")'></a>
        {{end}}
        {{if eq .NextPage 5}}
        <a class="back icn r2" title="Situación Legal" onclick='navlink("/pages/crearPropiedad5?id={{.FormId}}")'></a>
        {{end}}
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign"></ul>
        </div>
        <form action="" method="post" class="basic-grey">
            <fieldset>
                <input id="id" type="hidden" value="{{.FormId}}" />
                <input id="accion" type="hidden" value="{{.FormAccion}}" />
                <label>
                    <span>Electrico TE1:</span>
                    <select id="electrico_te1">
                        <option value="0" {{if eq .CamposPropiedades.Electrico_te1 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .CamposPropiedades.Electrico_te1 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .CamposPropiedades.Electrico_te1 2}}selected{{end}}>No</option>
                        <option value="3" {{if eq .CamposPropiedades.Electrico_te1 3}}selected{{end}}>No Aplica</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <div class="electrico_te1" style="background: #d7d7d7; margin: 10px 0px; padding: 10px; border: 1px solid #aaa; {{if eq .CamposPropiedades.Electrico_te1 1}}display:block{{else}}display:none{{end}};">  
                    <input id="id_doc_01" type="hidden" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 1 }}{{$Archivo.Id_arc}}{{end}}{{end}}" />
                    <label>
                        <span>Documento:</span>
                        <input id="doc_electrico_te1" style="margin-top: 0px; margin-bottom: 0px;" type="file" require="" placeholder="" />
                        <div class="mensaje">{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 1 }}{{$Archivo.Nombre}}{{end}}{{end}}</div>
                    </label>
                    <label>
                        <span>Fecha Documento:</span>
                        <input id="fecha_electrico_te1" type="date" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 1 }}{{$Archivo.Fecha}}{{end}}{{end}}" require="" placeholder="" />
                        <div class="mensaje"></div>
                    </label>
                </div>
                <label>
                    <span>Dotacion AP:</span>
                    <select id="dotacion_ap">
                        <option value="0" {{if eq .CamposPropiedades.Dotacion_ap 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .CamposPropiedades.Dotacion_ap 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .CamposPropiedades.Dotacion_ap 2}}selected{{end}}>No</option>
                        <option value="3" {{if eq .CamposPropiedades.Dotacion_ap 3}}selected{{end}}>No Aplica</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <div class="dotacion_ap" style="background: #d7d7d7; margin: 10px 0px; padding: 10px; border: 1px solid #aaa; {{if eq .CamposPropiedades.Dotacion_ap 1}}display:block{{else}}display:none{{end}};"> 
                    <input id="id_doc_02" type="hidden" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 2 }}{{$Archivo.Id_arc}}{{end}}{{end}}" />
                    <label>
                        <span>Documento:</span>
                        <input id="doc_dotacion_ap" style="margin-top: 0px; margin-bottom: 0px;" type="file" require="" placeholder="" />
                        <div class="mensaje">{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 2 }}{{$Archivo.Nombre}}{{end}}{{end}}</div>
                    </label>
                    <label>
                        <span>Fecha Documento:</span>
                        <input id="fecha_dotacion_ap" type="date" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 2 }}{{$Archivo.Fecha}}{{end}}{{end}}" require="" placeholder="" />
                        <div class="mensaje"></div>
                    </label>
                </div>
                <label>
                    <span>Dotacion Alcance:</span>
                    <select id="dotacion_alcance">
                        <option value="0" {{if eq .CamposPropiedades.Dotacion_alcance 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .CamposPropiedades.Dotacion_alcance 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .CamposPropiedades.Dotacion_alcance 2}}selected{{end}}>No</option>
                        <option value="3" {{if eq .CamposPropiedades.Dotacion_alcance 3}}selected{{end}}>No Aplica</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <div class="dotacion_alcance" style="background: #d7d7d7; margin: 10px 0px; padding: 10px; border: 1px solid #aaa; {{if eq .CamposPropiedades.Dotacion_alcance 1}}display:block{{else}}display:none{{end}};"> 
                    <input id="id_doc_03" type="hidden" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 3 }}{{$Archivo.Id_arc}}{{end}}{{end}}" />
                    <label>
                        <span>Documento:</span>
                        <input id="doc_dotacion_alcance" style="margin-top: 0px; margin-bottom: 0px;" type="file" require="" placeholder="" />
                        <div class="mensaje">{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 3 }}{{$Archivo.Nombre}}{{end}}{{end}}</div>
                    </label>
                    <label>
                        <span>Fecha Documento:</span>
                        <input id="fecha_dotacion_alcance" type="date" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 3 }}{{$Archivo.Fecha}}{{end}}{{end}}" require="" placeholder="" />
                        <div class="mensaje"></div>
                    </label>
                </div>
                <label>
                    <span>Instalacion Ascensor:</span>
                    <select id="instalacion_ascensor">
                        <option value="0" {{if eq .CamposPropiedades.Instalacion_ascensor 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .CamposPropiedades.Instalacion_ascensor 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .CamposPropiedades.Instalacion_ascensor 2}}selected{{end}}>No</option>
                        <option value="3" {{if eq .CamposPropiedades.Instalacion_ascensor 3}}selected{{end}}>No Aplica</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <div class="instalacion_ascensor" style="background: #d7d7d7; margin: 10px 0px; padding: 10px; border: 1px solid #aaa; {{if eq .CamposPropiedades.Instalacion_ascensor 1}}display:block{{else}}display:none{{end}};"> 
                    <input id="id_doc_04" type="hidden" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 4 }}{{$Archivo.Id_arc}}{{end}}{{end}}" />
                    <label>
                        <span>Documento:</span>
                        <input id="doc_instalacion_ascensor" style="margin-top: 0px; margin-bottom: 0px;" type="file" require="" placeholder="" />
                        <div class="mensaje">{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 4 }}{{$Archivo.Nombre}}{{end}}{{end}}</div>
                    </label>
                    <label>
                        <span>Fecha Documento:</span>
                        <input id="fecha_instalacion_ascensor" type="date" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 4 }}{{$Archivo.Fecha}}{{end}}{{end}}" require="" placeholder="" />
                        <div class="mensaje"></div>
                    </label>
                </div>
                <label>
                    <span>TE1 Ascensor:</span>
                    <select id="te1_ascensor">
                        <option value="0" {{if eq .CamposPropiedades.Te1_ascensor 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .CamposPropiedades.Te1_ascensor 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .CamposPropiedades.Te1_ascensor 2}}selected{{end}}>No</option>
                        <option value="3" {{if eq .CamposPropiedades.Te1_ascensor 3}}selected{{end}}>No Aplica</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <div class="te1_ascensor" style="background: #d7d7d7; margin: 10px 0px; padding: 10px; border: 1px solid #aaa; {{if eq .CamposPropiedades.Te1_ascensor 1}}display:block{{else}}display:none{{end}};"> 
                    <input id="id_doc_05" type="hidden" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 5 }}{{$Archivo.Id_arc}}{{end}}{{end}}" />
                    <label>
                        <span>Documento:</span>
                        <input id="doc_te1_ascensor" style="margin-top: 0px; margin-bottom: 0px;" type="file" require="" placeholder="" />
                        <div class="mensaje">{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 5 }}{{$Archivo.Nombre}}{{end}}{{end}}</div>
                    </label>
                    <label>
                        <span>Fecha Documento:</span>
                        <input id="fecha_te1_ascensor" type="date" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 5 }}{{$Archivo.Fecha}}{{end}}{{end}}" require="" placeholder="" />
                        <div class="mensaje"></div>
                    </label>
                </div>
                <label>
                    <span>Certificado Ascensor:</span>
                    <select id="certificado_ascensor">
                        <option value="0" {{if eq .CamposPropiedades.Certificado_ascensor 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .CamposPropiedades.Certificado_ascensor 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .CamposPropiedades.Certificado_ascensor 2}}selected{{end}}>No</option>
                        <option value="3" {{if eq .CamposPropiedades.Certificado_ascensor 3}}selected{{end}}>No Aplica</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <div class="certificado_ascensor" style="background: #d7d7d7; margin: 10px 0px; padding: 10px; border: 1px solid #aaa; {{if eq .CamposPropiedades.Certificado_ascensor 1}}display:block{{else}}display:none{{end}};"> 
                    <input id="id_doc_06" type="hidden" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 6 }}{{$Archivo.Id_arc}}{{end}}{{end}}" />
                    <label>
                        <span>Documento:</span>
                        <input id="doc_certificado_ascensor" style="margin-top: 0px; margin-bottom: 0px;" type="file" require="" placeholder="" />
                        <div class="mensaje">{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 6 }}{{$Archivo.Nombre}}{{end}}{{end}}</div>
                    </label>
                    <label>
                        <span>Fecha Documento:</span>
                        <input id="fecha_certificado_ascensor" type="date" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 6 }}{{$Archivo.Fecha}}{{end}}{{end}}" require="" placeholder="" />
                        <div class="mensaje"></div>
                    </label>
                </div>
                <label>
                    <span>Clima (HVAC):</span>
                    <select id="clima">
                        <option value="0" {{if eq .CamposPropiedades.Clima 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .CamposPropiedades.Clima 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .CamposPropiedades.Clima 2}}selected{{end}}>No</option>
                        <option value="3" {{if eq .CamposPropiedades.Clima 3}}selected{{end}}>No Aplica</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <div class="clima" style="background: #d7d7d7; margin: 10px 0px; padding: 10px; border: 1px solid #aaa; {{if eq .CamposPropiedades.Clima 1}}display:block{{else}}display:none{{end}};">
                    <input id="id_doc_07" type="hidden" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 7 }}{{$Archivo.Id_arc}}{{end}}{{end}}" />
                    <label>
                        <span>Documento:</span>
                        <input id="doc_clima" style="margin-top: 0px; margin-bottom: 0px;" type="file" require="" placeholder="" />
                        <div class="mensaje">{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 7 }}{{$Archivo.Nombre}}{{end}}{{end}}</div>
                    </label>
                    <label>
                        <span>Fecha Documento:</span>
                        <input id="fecha_clima" type="date" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 7 }}{{$Archivo.Fecha}}{{end}}{{end}}" require="" placeholder="" />
                        <div class="mensaje"></div>
                    </label>
                </div>
                <label>
                    <span>Seguridad Contraincendio (CPI):</span>
                    <select id="seguridad_incendio">
                        <option value="0" {{if eq .CamposPropiedades.Seguridad_incendio 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .CamposPropiedades.Seguridad_incendio 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .CamposPropiedades.Seguridad_incendio 2}}selected{{end}}>No</option>
                        <option value="3" {{if eq .CamposPropiedades.Seguridad_incendio 3}}selected{{end}}>No Aplica</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <div class="seguridad_incendio" style="background: #d7d7d7; margin: 10px 0px; padding: 10px; border: 1px solid #aaa; {{if eq .CamposPropiedades.Seguridad_incendio 1}}display:block{{else}}display:none{{end}};">
                    <input id="id_doc_08" type="hidden" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 8 }}{{$Archivo.Id_arc}}{{end}}{{end}}" />
                    <label>
                        <span>Documento:</span>
                        <input id="doc_seguridad_incendio" style="margin-top: 0px; margin-bottom: 0px;" type="file" require="" placeholder="" />
                        <div class="mensaje">{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 8 }}{{$Archivo.Nombre}}{{end}}{{end}}</div>
                    </label>
                    <label>
                        <span>Fecha Documento:</span>
                        <input id="fecha_seguridad_incendio" type="date" value="{{ range $Tipo, $Archivo := .CamposPropiedades.UltimosArchivos }}{{if eq $Tipo 8 }}{{$Archivo.Fecha}}{{end}}{{end}}" require="" placeholder="" />
                        <div class="mensaje"></div>
                    </label>
                </div>
                <div>
                    <input type="button" onclick="fm(this)" value="Enviar">
                </div>
            </fieldset>
        </form>
    </div>
</div>


