<script>
    document.getElementById('gp').addEventListener('change', function() {
        if (this.value == 1){
            document.getElementsByClassName('gp')[0].style.display = "block"
        }else{
            document.getElementsByClassName('gp')[0].style.display = "none"
        }
    })
    document.getElementById('planos_archivados').addEventListener('change', function() {
        if (this.value == 1){
            document.getElementsByClassName('planos_archivados')[0].style.display = "block"
        }else{
            document.getElementsByClassName('planos_archivados')[0].style.display = "none"
        }
    })
</script>
<div class="mt">
    <h1>{{.Titulo}}</h1>
    <ul class="clearfix valign">
        {{if eq .NextPage 3}}
        <a class="back icn r1" title="Situación Técnica" onclick='navlink("/pages/crearPropiedad3?id={{.FormId}}")'></a>
        {{end}}
        {{if eq .NextPage 4}}
        <a class="back icn r1" title="Situación Comercial" onclick='navlink("/pages/crearPropiedad4?id={{.FormId}}")'></a>
        {{end}}
        <a class="back icn r2" title="Situación Fiscal" onclick='navlink("/pages/crearPropiedad6?id={{.FormId}}")'></a>
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign">
                <li class="back" onclick="backurl()"></li>
                <li class="back" onclick="backurl()"></li>
            </ul>
        </div>
        <form action="" method="post" class="basic-grey">
            <fieldset>
                <input id="id" type="hidden" value="{{.FormId}}" />
                <input id="accion" type="hidden" value="{{.FormAccion}}" />
                <label>
                    <span>Nombre Propietario:</span>
                    <input id="dom_nom_propietario" type="text" value="{{.DomNomPropietario}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Documento:</span>
                    <input id="doc_dom_nom_propietario" type="file" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Posee GP:</span>
                    <select id="gp">
                        <option value="0" {{if eq .Gp 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .Gp 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .Gp 2}}selected{{end}}>No</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label class="gp" {{if eq .Gp 1}}style="display:block"{{else}}style="display:none"{{end}}>
                    <span>Documento:</span>
                    <input id="doc_subarriendo" type="file" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Posee Planos Archivados:</span>
                    <select id="planos_archivados">
                        <option value="0" {{if eq .PlazosArchivos 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .PlazosArchivos 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .PlazosArchivos 2}}selected{{end}}>No</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label class="planos_archivados" {{if eq .ContratoSubArriendo 1}}style="display:block"{{else}}style="display:none"{{end}}>
                    <span>Documento:</span>
                    <input id="doc_planos_archivos" type="file" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <div>
                    <input type="button" onclick="fm(this)" value="Enviar">
                </div>
            </fieldset>
        </form>
    </div>
</div>