<script>

    var list = [
        { lat: -24.444, lng: 130.036, region: 1, msg: "<div>PUNTO 1<br/>Descripcion1</div>" },
        { lat: -26.344, lng: 131.236, region: 1, msg: "PUNTO 2" },
        { lat: -25.644, lng: 131.736, region: 3, msg: "PUNTO 3" },
        { lat: -24.744, lng: 132.836, region: 4, msg: "PUNTO 4" },
    ];

    var markers = [];
    var map;
    initMap();
    function initMap() {
        var position = { lat: -25.344, lng: 131.036 };
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 6,
            center: position,
        });
        drop()     
    }
    function clearMarkers() {
        for (let i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
    }
    function addMarkerWithTimeout(position, timeout) {
        window.setTimeout(() => {
            var marker = new google.maps.Marker({
                position: position,
                map,
                animation: google.maps.Animation.DROP,
                index: 789,
            });
            attachSecretMessage(marker, position.msg);
            markers.push(marker);
        }, timeout);
    }
    function drop() {
        var r = document.getElementById("region");
        var region = r.value;
        clearMarkers();
        for (var i = 0; i < list.length; i++) {
            if (region == 0 || region == list[i].region){
                addMarkerWithTimeout(list[i], i * 200);
            }   
        }
    }
    function attachSecretMessage(marker, secretMessage) {
        const infowindow = new google.maps.InfoWindow({
            content: secretMessage,
        });
        infowindow.open(marker.get("map"), marker);
        marker.addListener("click", () => {
            infowindow.open(marker.get("map"), marker);
        });
    }

</script>
<div class="mt">
    <h1>{{.Titulo}}</h1>
    <ul class="clearfix valign">
        <li class="back" onclick="backurl()"></li>
        <li class="back" onclick="backurl()"></li>
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign">
                <li class="back" onclick="backurl()"></li>
                <li class="back" onclick="backurl()"></li>
            </ul>
        </div>
        <form action="" method="post" class="basic-grey">
            <fieldset>
                <input id="id" type="hidden" value="{{.FormId}}" />
                <input id="accion" type="hidden" value="{{.FormAccion}}" />
                <label>
                    <span>Region:</span>
                    <select id="region" onchange="drop()">
                        <option value="0">Todos</option>
                        <option value="1">1 Region</option>
                        <option value="2">2 Region</option>
                        <option value="3">3 Region</option>
                        <option value="4">4 Region</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <div id="map" style="width:100%; height:400px;"></div>
                <label>
                    <input type="button" onclick="fm(this)" value="Enviar">
                </label>
            </fieldset>
        </form>
    </div>
</div>

{{if .Lista}}
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign">
                <li class="back" onclick="backurl()"></li>
                <li class="back" onclick="backurl()"></li>
            </ul>
        </div>
        <ul class='lu'>
            {{range .Lista}}
            <li class="u" rel="{{.Id}}">                
                <div class="no">{{.Nombre}}</div>
                <div class="btns clearfix valign">
                    <a title="Eliminar" class="icn del" onclick="eliminar('{{$.DelAccion}}', {{.Id}}, '{{$.DelObj}}', '{{.Nombre}}')"></a>
                    <a title="Modificar" class="icn mod" onclick="navlink('{{$.PageMod}}?id={{.Id}}')"></a>
                    <a title="Modificar" class="icn ent" onclick="navlink('/pages/inicioEmpresa?id={{.Id}}')"></a>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
</div>
{{end}}
<br />
<br />
<div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon" />
    <span id="place-name" class="title">HOLA MUNDO</span><br />
    <span id="place-address">Buena Nelson</span>
</div>