<script>
    document.getElementById('pagina').addEventListener('change', function() {
        allnone();
        if (this.value == 1){
            document.getElementsByClassName('pagina1')[0].style.display = "block";
        }else if(this.value == 2){
            document.getElementsByClassName('pagina2')[0].style.display = "block";
        }else if(this.value == 3){
            document.getElementsByClassName('pagina3')[0].style.display = "block";
        }else if(this.value == 4){
            document.getElementsByClassName('pagina4')[0].style.display = "block";
        }else if(this.value == 5){
            document.getElementsByClassName('pagina5')[0].style.display = "block";
        }else if(this.value == 6){
            document.getElementsByClassName('pagina6')[0].style.display = "block";
        }else if(this.value == 7){
            document.getElementsByClassName('pagina7')[0].style.display = "block";
        }else if(this.value == 8){
            document.getElementsByClassName('pagina8')[0].style.display = "block";
        }
    })
    function allnone(){
        document.getElementsByClassName('pagina1')[0].style.display = "none";
        document.getElementsByClassName('pagina2')[0].style.display = "none";
        document.getElementsByClassName('pagina3')[0].style.display = "none";
        document.getElementsByClassName('pagina4')[0].style.display = "none";
        document.getElementsByClassName('pagina5')[0].style.display = "none";
        document.getElementsByClassName('pagina6')[0].style.display = "none";
        document.getElementsByClassName('pagina7')[0].style.display = "none";
        document.getElementsByClassName('pagina8')[0].style.display = "none";
    }
</script>

<div class="mt">
    <h1>{{.Titulo}}</h1>
    <ul class="clearfix valign">
        <a class="back icn r1" title="Crear Alertas" onclick="backurl()"></a>
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign"></ul>
        </div>
        <form action="" method="post" class="basic-grey">
            <fieldset>
                <input id="id" type="hidden" value="{{.FormId}}" />
                <input id="id_ale" type="hidden" value="{{.FormIdAle}}" />
                <input id="accion" type="hidden" value="{{.FormAccion}}" />

                <label>
                    <span>Nombre:</span>
                    <input id="nombre" type="text" value="{{.Nombre}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>

                <label>
                    <span>Seleccionar Pagina:</span>
                    <select id="pagina">
                        <option value="0" {{if eq .Pagina 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .Pagina 1}}selected{{end}}>Pagina 1 - Datos Generales</option>
                        <option value="2" {{if eq .Pagina 2}}selected{{end}}>Pagina 2 - Datos Municipales</option>
                        <option value="3" {{if eq .Pagina 3}}selected{{end}}>Pagina 3 - Permiso Edificacion</option>
                        <option value="4" {{if eq .Pagina 4}}selected{{end}}>Pagina 4 - Situacion Tecnica</option>
                        <option value="5" {{if eq .Pagina 5}}selected{{end}}>Pagina 5 - Situacion Legal</option>
                        <option value="6" {{if eq .Pagina 6}}selected{{end}}>Pagina 6 - Situacion Fiscal</option>
                        <option value="7" {{if eq .Pagina 7}}selected{{end}}>Pagina 7 - Avaluo Comercial</option>
                        <option value="8" {{if eq .Pagina 8}}selected{{end}}>Pagina 8 - Normativo</option>
                    </select>
                    <div class="mensaje"></div>
                </label>

                <label class="pagina1" {{if eq .Pagina 1}}style="display:block"{{else}}style="display:none"{{end}}>
                    <span>Campos:</span>
                    <select id="pagina1">
                        <option value="0" {{if eq .Campo1 0}}selected{{end}}>Seleccionar1</option>
                        <option value="1" {{if eq .Campo1 1}}selected{{end}}></option>
                        <option value="2" {{if eq .Campo1 2}}selected{{end}}></option>
                    </select>
                    <div class="mensaje"></div>
                </label>

                <label class="pagina2" {{if eq .Pagina 2}}style="display:block"{{else}}style="display:none"{{end}}>
                    <span>Campos:</span>
                    <select id="pagina2">
                        <option value="0" {{if eq .Campo2 0}}selected{{end}}>Seleccionar2</option>
                        <option value="1" {{if eq .Campo2 1}}selected{{end}}></option>
                        <option value="2" {{if eq .Campo2 2}}selected{{end}}></option>
                    </select>
                    <div class="mensaje"></div>
                </label>

                <label class="pagina3" {{if eq .Pagina 3}}style="display:block"{{else}}style="display:none"{{end}}>
                    <span>Campos:</span>
                    <select id="pagina3">
                        <option value="0" {{if eq .Campo3 0}}selected{{end}}>Seleccionar3</option>
                        <option value="1" {{if eq .Campo3 1}}selected{{end}}></option>
                        <option value="2" {{if eq .Campo3 2}}selected{{end}}></option>
                    </select>
                    <div class="mensaje"></div>
                </label>

                <label class="pagina4" {{if eq .Pagina 4}}style="display:block"{{else}}style="display:none"{{end}}>
                    <span>Campos:</span>
                    <select id="pagina4">
                        <option value="0" {{if eq .Campo4 0}}selected{{end}}>Seleccionar4</option>
                        <option value="1" {{if eq .Campo4 1}}selected{{end}}></option>
                        <option value="2" {{if eq .Campo4 2}}selected{{end}}></option>
                    </select>
                    <div class="mensaje"></div>
                </label>

                <label class="pagina5" {{if eq .Pagina 5}}style="display:block"{{else}}style="display:none"{{end}}>
                    <span>Campos:</span>
                    <select id="pagina5">
                        <option value="0" {{if eq .Campo5 0}}selected{{end}}>Seleccionar5</option>
                        <option value="1" {{if eq .Campo5 1}}selected{{end}}></option>
                        <option value="2" {{if eq .Campo5 2}}selected{{end}}></option>
                    </select>
                    <div class="mensaje"></div>
                </label>

                <label class="pagina6" {{if eq .Pagina 6}}style="display:block"{{else}}style="display:none"{{end}}>
                    <span>Campos:</span>
                    <select id="pagina6">
                        <option value="0" {{if eq .Campo6 0}}selected{{end}}>Seleccionar6</option>
                        <option value="1" {{if eq .Campo6 1}}selected{{end}}></option>
                        <option value="2" {{if eq .Campo6 2}}selected{{end}}></option>
                    </select>
                    <div class="mensaje"></div>
                </label>

                <label class="pagina7" {{if eq .Pagina 7}}style="display:block"{{else}}style="display:none"{{end}}>
                    <span>Campos:</span>
                    <select id="pagina7">
                        <option value="0" {{if eq .Campo7 0}}selected{{end}}>Seleccionar7</option>
                        <option value="1" {{if eq .Campo7 1}}selected{{end}}></option>
                        <option value="2" {{if eq .Campo7 2}}selected{{end}}></option>
                    </select>
                    <div class="mensaje"></div>
                </label>

                <label class="pagina8" {{if eq .Pagina 8}}style="display:block"{{else}}style="display:none"{{end}}>
                    <span>Campos:</span>
                    <select id="pagina8">
                        <option value="0" {{if eq .Campo8 0}}selected{{end}}>Seleccionar8</option>
                        <option value="1" {{if eq .Campo8 1}}selected{{end}}></option>
                        <option value="2" {{if eq .Campo8 2}}selected{{end}}></option>
                    </select>
                    <div class="mensaje"></div>
                </label>

                <label>
                    <span>Valor:</span>
                    <input id="valor" type="text" value="{{.ValorCampo}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <div>
                    <input type="button" onclick="fm(this)" value="Enviar">
                </div>
            </fieldset>
        </form>
    </div>
</div>

{{if .Lista}}
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign"></ul>
        </div>
        <ul class='lu'>
            {{range .Lista}}
            <li class="u" rel="{{.Id}}">                
                <div class="no">{{.Nombre}}</div>
                <div class="btns clearfix valign">
                    <a title="Eliminar" class="icn del" onclick="eliminar('{{$.DelAccion}}', {{.Id}}, '{{$.DelObj}}', '{{.Nombre}}')"></a>
                    <a title="Modificar" class="icn mod" onclick="navlink('{{$.PageMod}}?id={{.Id}}&id_ale={{$.FormIdAle}}')"></a>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
</div>
{{end}}
<br />
<br />