<script>
    var marker;
    var map;
    var geocoder = new google.maps.Geocoder();
    var infowindow = new google.maps.InfoWindow();

    initMap();

    google.maps.event.addListener(marker, 'dragend', function (evt) {
        $('#lat').val(evt.latLng.lat().toFixed(6));
        $('#lng').val(evt.latLng.lng().toFixed(6));
        map.panTo(evt.latLng);
        geocoder.geocode({'latLng': marker.getPosition()}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    var comp = results[0].address_components;
                    Component(comp)
                }
            }
        });
    });

    function SetDrag(){
        marker.setDraggable(true);
    }
    function Component(comp){
        for (var i=0; i<comp.length; i++){
            for (var j=0; j<comp[i].types.length; j++){
                if(comp[i].types[j] == "street_number"){
                    document.getElementById("numero").value = comp[i].long_name;
                }
                if(comp[i].types[j] == "administrative_area_level_1"){
                    document.getElementById("region").value = comp[i].long_name;
                }
                if(comp[i].types[j] == "administrative_area_level_2"){
                    document.getElementById("ciudad").value = comp[i].long_name;
                }
                if(comp[i].types[j] == "locality"){
                    document.getElementById("comuna").value = comp[i].long_name;
                }
                if(comp[i].types[j] == "country"){
                    document.getElementById("pais").value = comp[i].long_name;
                }
                if(comp[i].types[j] == "route"){
                    document.getElementById("direccion").value = comp[i].long_name;
                }
            }
        }
    }
    function initMap() {

        {{if .FormId}}
        var position = { lat: {{.Lat}}, lng: {{.Lng}} };
        var zoom = 15;
        {{else}}
        var position = { lat: -25.344, lng: 131.036 };
        var zoom = 4;
        {{end}}

        map = new google.maps.Map(document.getElementById("map"), {
            zoom: zoom,
            center: position,
        });
        
        marker = new google.maps.Marker({
            position: position,
            map: map,
            draggable: true
        });

        marker.addListener("click", () => {
            //map.setZoom(8);
            //map.setCenter(marker.getPosition());
        });

        //map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

        const autocomplete = new google.maps.places.Autocomplete(document.getElementById("dir_auto"), {});
        autocomplete.setComponentRestrictions({country: ["cl"],});

        const southwest = { lat: 5.6108, lng: 136.589326 };
        const northeast = { lat: 61.179287, lng: 2.64325 };
        const newBounds = new google.maps.LatLngBounds(southwest, northeast);
        autocomplete.setBounds(newBounds);

        infowindow.setContent("<strong onclick='navlink(`/pages/crearEmpresa`)'>Buena Nelson</strong>");

        autocomplete.addListener("place_changed", () => {
            
            infowindow.close();
            marker.setVisible(false);

            const place = autocomplete.getPlace();
            const comp = place.address_components;

            Component(comp)

            if (!place.geometry || !place.geometry.location) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            window.alert("No details available for input: '" + place.name + "'");
            return;
            }

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17); // Why 17? Because it looks good.
            }

            $('#lat').val(place.geometry.location.lat());
            $('#lng').val(place.geometry.location.lng());

            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            infowindow.open(map, marker);
            
        });
    
    }
    document.getElementById('dominio').addEventListener('change', function() {
        if (this.value == 1){
            document.getElementsByClassName('dominio')[0].style.display = "block"
        }else{
            document.getElementsByClassName('dominio')[0].style.display = "none"
        }
    })
</script>
<div class="mt">
    <h1>{{.Titulo}}</h1>
    <ul class="clearfix valign">
        {{if .FormId}}
        <a class="back icn r2" title="Datos Municipales" onclick='navlink("/pages/crearPropiedad2?id={{.FormId}}")'></a>
        {{end}}
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <!--
            <ul class="clearfix valign">
                <li class="back" onclick="backurl()"></li>
                <li class="back" onclick="backurl()"></li>
            </ul>
            -->
        </div>
        <form action="" method="post" class="basic-grey">
            <fieldset>
                <input id="id" type="hidden" value="{{.FormId}}" />
                <input id="accion" type="hidden" value="{{.FormAccion}}" />
                <label>
                    <span>Nombre:</span>
                    <input id="nombre" type="text" value="{{.Nombre}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Direccion:</span>
                    <input id="dir_auto" type="text" value="{{.Direccion}}" require="" placeholder="" />
                    <input id="lat" type="hidden" value="{{.Lat}}" require="" placeholder="" />
                    <input id="lng" type="hidden" value="{{.Lng}}" require="" placeholder="" />
                    <input id="ciudad" type="hidden" value="{{.Ciudad}}" require="" placeholder="" />
                    <input id="region" type="hidden" value="{{.Region}}" require="" placeholder="" />
                    <input id="comuna" type="hidden" value="{{.Comuna}}" require="" placeholder="" />
                    <input id="pais" type="hidden" value="{{.Pais}}" require="" placeholder="" />
                    <input id="direccion" type="hidden" value="{{.Direccion}}" require="" placeholder="" />
                    <input id="numero" type="hidden" value="{{.Numero}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <div id="map" style="width:100%; height:250px;"></div>
                <label>
                    <span>Dominio:</span>
                    <select id="dominio">
                        <option value="0" {{if eq .Dominio 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .Dominio 1}}selected{{end}}>Propio</option>
                        <option value="2" {{if eq .Dominio 2}}selected{{end}}>Arrendado</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label class="dominio" {{if eq .Dominio 1}}style="display:block"{{else}}style="display:none"{{end}}>
                    <span>Dominio:</span>
                    <select id="dominio2">
                        <option value="0" {{if eq .Dominio2 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .Dominio2 1}}selected{{end}}>Uso Propio</option>
                        <option value="2" {{if eq .Dominio2 2}}selected{{end}}>Arrendado a Terceros</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Atencion a publico:</span>
                    <select id="atencion_publico">
                        <option value="0" {{if eq .AtencionPublico 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .AtencionPublico 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .AtencionPublico 2}}selected{{end}}>No</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Copropiedad:</span>
                    <select id="copropiedad">
                        <option value="0" {{if eq .Copropiedad 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .Copropiedad 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .Copropiedad 2}}selected{{end}}>No</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Uso o destino:</span>
                    <select id="destino">
                        <option value="0" {{if eq .Destino 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .Destino 1}}selected{{end}}>Retail</option>
                        <option value="2" {{if eq .Destino 2}}selected{{end}}>Servicios</option>
                        <option value="3" {{if eq .Destino 3}}selected{{end}}>Industrial</option>
                        <option value="4" {{if eq .Destino 4}}selected{{end}}>Similar al industrial</option>
                        <option value="5" {{if eq .Destino 5}}selected{{end}}>Salud</option>
                        <option value="6" {{if eq .Destino 6}}selected{{end}}>Educacional</option>
                        <option value="7" {{if eq .Destino 7}}selected{{end}}>Transporte</option>
                        <option value="8" {{if eq .Destino 8}}selected{{end}}>Otros</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Detalle uso o destino:</span>
                    <select id="detalle_destino">
                        <option value="0" {{if eq .Detalle 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .Detalle 1}}selected{{end}}>Local comercial</option>
                        <option value="2" {{if eq .Detalle 2}}selected{{end}}>Restaurant</option>
                        <option value="3" {{if eq .Detalle 3}}selected{{end}}>Oficina</option>
                        <option value="4" {{if eq .Detalle 4}}selected{{end}}>Bodega</option>
                        <option value="5" {{if eq .Detalle 5}}selected{{end}}>Hospital</option>
                        <option value="6" {{if eq .Detalle 6}}selected{{end}}>Clínica</option>
                        <option value="7" {{if eq .Detalle 7}}selected{{end}}>Colegio</option>
                        <option value="8" {{if eq .Detalle 8}}selected{{end}}>Universidad</option>
                        <option value="9" {{if eq .Detalle 9}}selected{{end}}>Jardín infantil</option>
                        <option value="10" {{if eq .Detalle 10}}selected{{end}}>Terminal buses</option>
                        <option value="11" {{if eq .Detalle 11}}selected{{end}}>Estación servicio</option>
                        <option value="12" {{if eq .Detalle 12}}selected{{end}}>Industria</option>
                        <option value="13" {{if eq .Detalle 13}}selected{{end}}>Estacioanmiento</option>
                        <option value="14" {{if eq .Detalle 14}}selected{{end}}>Otros</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <div>
                    <input type="button" onclick="fm(this)" value="Enviar">
                </div>
            </fieldset>
        </form>
    </div>
</div>

{{if .Lista}}
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.TituloLista}}</h1>
            <h2></h2>
            <ul class="clearfix valign">
                <li class="back icn ic1" onclick="backurl()"></li>
                <!--<li class="back" onclick="backurl()"></li>-->
            </ul>
        </div>
        <ul class='lu'>
            {{range .Lista}}
            <li class="u" rel="{{.Id}}">                
                <div class="no">{{.Nombre}}</div>
                <div class="btns clearfix valign">
                    <a title="Eliminar" class="icn del" onclick="eliminar('{{$.DelAccion}}', {{.Id}}, '{{$.DelObj}}', '{{.Nombre}}')"></a>
                    <a title="Modificar" class="icn mod" onclick="navlink('{{$.PageMod}}?id={{.Id}}')"></a>
                    <a title="Modulo8" class="icn mdl" onclick="navlink('/pages/crearPropiedad8?id={{.Id}}')"></a>
                    <a title="Modulo7" class="icn mdl" onclick="navlink('/pages/crearPropiedad7?id={{.Id}}')"></a>
                    <a title="Modulo6" class="icn mdl" onclick="navlink('/pages/crearPropiedad6?id={{.Id}}')"></a>
                    <a title="Modulo5" class="icn mdl" onclick="navlink('/pages/crearPropiedad5?id={{.Id}}')"></a>
                    <a title="Modulo4" class="icn mdl" onclick="navlink('/pages/crearPropiedad4?id={{.Id}}')"></a>
                    <a title="Modulo3" class="icn mdl" onclick="navlink('/pages/crearPropiedad3?id={{.Id}}')"></a>
                    <a title="Modulo2PermisoEdificacion" class="icn mdl" onclick="navlink('/pages/crearPropiedad2PermisoEdificacion?id={{.Id}}')"></a>
                    <a title="Modulo2" class="icn mdl" onclick="navlink('/pages/crearPropiedad2?id={{.Id}}')"></a>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
</div>
{{end}}
