<script>
    document.getElementById('cert_info_previas').addEventListener('change', function() {
        if (this.value == 1){
            document.getElementsByClassName('cert_info_previas')[0].style.display = "block"
        }else{
            document.getElementsByClassName('cert_info_previas')[0].style.display = "none"
        }
    })
    document.getElementById('tipo_instrumento').addEventListener('change', function() {
        if (this.value == 4){
            document.getElementsByClassName('tipo_instrumento')[0].style.display = "block"
        }else{
            document.getElementsByClassName('tipo_instrumento')[0].style.display = "none"
        }
    })
</script>
<div class="mt">
    <h1>{{.Titulo}}</h1>
    <ul class="clearfix valign">
        <a class="back icn r1" title="Avalúo Comercial" onclick='navlink("/pages/crearPropiedad7?id={{.FormId}}")'></a>
        <a class="back icn mdl" title="Detalle Propiedad" onclick='navlink("/pages/detallePropiedad?id={{.FormId}}")'></a>
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign"></ul>
        </div>
        <form action="" method="post" class="basic-grey">
            <fieldset>
                <input id="id" type="hidden" value="{{.FormId}}" />
                <input id="accion" type="hidden" value="{{.FormAccion}}" />
                <label>
                    <span>Certificado Informaciones Previas:</span>
                    <select id="cert_info_previas">
                        <option value="0" {{if eq .CamposPropiedades.Cert_info_previas 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .CamposPropiedades.Cert_info_previas 1}}selected{{end}}>Si</option>
                        <option value="2" {{if eq .CamposPropiedades.Cert_info_previas 2}}selected{{end}}>No</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label class="cert_info_previas" {{if eq .CamposPropiedades.Cert_info_previas 1}}style="display:block"{{else}}style="display:none"{{end}}>
                    <span>Documento (AGREGAR FECHA):</span>
                    <input id="doc_cert_info_previas" type="file" require="" placeholder="" />
                    <div class="mensaje">{{ range $Tipo, $Archivo := .CamposPropiedades.ListaArchivos }}{{if eq $Tipo 16 }}{{if eq (len $Archivo) 1}}Tiene 1 Archivo{{end}}{{if gt (len $Archivo) 1}}Tiene {{ len $Archivo }} Archivos{{end}}{{end}}{{end}}</div>
                </label>
                <label>
                    <span>Tipo de Instrumento:</span>
                    <select id="tipo_instrumento">
                        <option value="0" {{if eq .CamposPropiedades.Tipo_instrumento 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .CamposPropiedades.Tipo_instrumento 1}}selected{{end}}>Plan Regulador Comunal</option>
                        <option value="2" {{if eq .CamposPropiedades.Tipo_instrumento 2}}selected{{end}}>Plan Regulador Intercomunal</option>
                        <option value="3" {{if eq .CamposPropiedades.Tipo_instrumento 3}}selected{{end}}>Plan Regulador Metropolitano</option>
                        <option value="4" {{if eq .CamposPropiedades.Tipo_instrumento 4}}selected{{end}}>Otro</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label class="tipo_instrumento" {{if eq .CamposPropiedades.Tipo_instrumento 4}}style="display:block"{{else}}style="display:none"{{end}}>
                    <span>Especificar:</span>
                    <input id="especificar_tipo_instrumento" type="text" value="{{.CamposPropiedades.Especificar_tipo_instrumento}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Indicar área:</span>
                    <select id="indicar_area">
                        <option value="0" {{if eq .CamposPropiedades.Indicar_area 0}}selected{{end}}>Seleccionar</option>
                        <option value="1" {{if eq .CamposPropiedades.Indicar_area 1}}selected{{end}}>Urbana</option>
                        <option value="2" {{if eq .CamposPropiedades.Indicar_area 2}}selected{{end}}>Rural</option>
                        <option value="3" {{if eq .CamposPropiedades.Indicar_area 3}}selected{{end}}>Extensión urbana</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Zona normativa según Plan regulador:</span>
                    <Textarea id="zona_normativa_plan_regulador">{{.CamposPropiedades.Zona_normativa_pregulador}}</Textarea>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Área de riesgo:</span>
                    <select id="area_riesgo">
                        <option value="2" {{if eq .CamposPropiedades.Area_riesgo 2}}selected{{end}}>No</option>
                        <option value="1" {{if eq .CamposPropiedades.Area_riesgo 1}}selected{{end}}>Si</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Área de protección:</span>
                    <select id="area_proteccion">
                        <option value="2" {{if eq .CamposPropiedades.Area_proteccion 2}}selected{{end}}>No</option>
                        <option value="1" {{if eq .CamposPropiedades.Area_proteccion 1}}selected{{end}}>Si</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Zona de inmueble de conservación histórica:</span>
                    <select id="zona_conservacion_historica">
                        <option value="2" {{if eq .CamposPropiedades.Zona_conservacion_historica 2}}selected{{end}}>No</option>
                        <option value="1" {{if eq .CamposPropiedades.Zona_conservacion_historica 1}}selected{{end}}>Si</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Zona típica:</span>
                    <select id="zona_tipica">
                        <option value="2" {{if eq .CamposPropiedades.Zona_tipica 2}}selected{{end}}>No</option>
                        <option value="1" {{if eq .CamposPropiedades.Zona_tipica 1}}selected{{end}}>Si</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Monumento nacional:</span>
                    <select id="monumento_nacional">
                        <option value="2" {{if eq .CamposPropiedades.Monumento_nacional 2}}selected{{end}}>No</option>
                        <option value="1" {{if eq .CamposPropiedades.Monumento_nacional 1}}selected{{end}}>Si</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Zona uso de suelo:</span>
                    <Textarea id="zona_uso_suelo">{{.CamposPropiedades.Zona_uso_suelo}}</Textarea>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Usos permitidos:</span>
                    <Textarea id="usos_permitidos">{{.CamposPropiedades.Usos_permitidos}}</Textarea>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Usos prohibidos:</span>
                    <Textarea id="usos_prohibidos">{{.CamposPropiedades.Usos_prohibidos}}</Textarea>
                    <div class="mensaje"></div>
                </label>

                <label>
                    <span>Superficie predial mínima:</span>
                    <input id="superficie_predial_minima" type="number" value="{{.CamposPropiedades.Superficie_predial_minima}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Densidad máxima (bruta):</span>
                    <input id="densidad_maxima_bruta" type="number" value="{{.CamposPropiedades.Densidad_maxima_bruta}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Densidad máxima (neta):</span>
                    <input id="densidad_maxima_neta" type="number" value="{{.CamposPropiedades.Densidad_maxima_neta}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Altura máxima (metros):</span>
                    <input id="altura_maxima" type="number" value="{{.CamposPropiedades.Altura_maxima}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>

                <label>
                    <span>Sistema de agrupamiento:</span>
                    <select id="sistema_agrupamiento">
                        <option value="0" {{if eq .CamposPropiedades.Sistema_agrupamiento 0}}selected{{end}}>No</option>
                        <option value="1" {{if eq .CamposPropiedades.Sistema_agrupamiento 1}}selected{{end}}>Aislado</option>
                        <option value="2" {{if eq .CamposPropiedades.Sistema_agrupamiento 2}}selected{{end}}>Continuo</option>
                        <option value="3" {{if eq .CamposPropiedades.Sistema_agrupamiento 3}}selected{{end}}>Pareado</option>
                    </select>
                    <div class="mensaje"></div>
                </label>

                <label>
                    <span>Coeficiente de constructibilidad:</span>
                    <input id="coef_constructibilidad" type="number" value="{{.CamposPropiedades.Coef_constructibilidad}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Coeficiente de ocupación suelo:</span>
                    <input id="coef_ocupacion_suelo" type="number" value="{{.CamposPropiedades.Coef_ocupacionsuelo}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Coeficiente de ocupación suelo pisos superiores:</span>
                    <input id="coef_ocupacion_suelo_psuperiores" type="number" value="{{.CamposPropiedades.Coef_ocupacionsuelopsuperiores}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Rasante:</span>
                    <input id="rasante" type="number" value="{{.CamposPropiedades.Rasante}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Adosamiento:</span>
                    <select id="adosamiento">
                        <option value="2" {{if eq .CamposPropiedades.Adosamiento 2}}selected{{end}}>No</option>
                        <option value="1" {{if eq .CamposPropiedades.Adosamiento 1}}selected{{end}}>Si</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Distanciamiento:</span>
                    <Textarea id="distanciamiento">{{.CamposPropiedades.Distanciamiento}}</Textarea>
                    <div class="mensaje"></div>
                </label>
                <div>
                    <div>Cierres perimetrales</div>
                    <label>
                        <span>Altura en metros:</span>
                        <input id="cierres_perimetrales_altura" type="number" value="{{.CamposPropiedades.Cierres_perialtura}}" require="" placeholder="" />
                        <div class="mensaje"></div>
                    </label>
                    <label>
                        <span>Transparencia (porcentaje):</span>
                        <input id="cierres_perimetrales_transparencia" type="text" value="{{.CamposPropiedades.Cierres_peritransparencia}}" require="" placeholder="" />
                        <div class="mensaje"></div>
                    </label>
                </div>
                <label>
                    <span>Ochavos:</span>
                    <select id="ochavos">
                        <option value="2" {{if eq .CamposPropiedades.Ochavos 2}}selected{{end}}>No</option>
                        <option value="1" {{if eq .CamposPropiedades.Ochavos 1}}selected{{end}}>Si</option>
                    </select>
                    <div class="mensaje"></div>
                </label>
                <label>
                    <span>Ochavos metros:</span>
                    <input id="ochavos_metros" type="number" value="{{.CamposPropiedades.Ochavos_metros}}" require="" placeholder="" />
                    <div class="mensaje"></div>
                </label>
                <div>
                    <div>Estado de la urbanización</div>
                    <label>
                        <span>Ejecutada:</span>
                        <select id="estado_urbanizacion_ejecutada">
                            <option value="0" {{if eq .CamposPropiedades.Estado_UrbaEjecutada 0}}selected{{end}}>Seleccionar</option>
                            <option value="1" {{if eq .CamposPropiedades.Estado_UrbaEjecutada 1}}selected{{end}}>Si</option>
                            <option value="2" {{if eq .CamposPropiedades.Estado_UrbaEjecutada 2}}selected{{end}}>No</option>
                            <option value="3" {{if eq .CamposPropiedades.Estado_UrbaEjecutada 3}}selected{{end}}>No Aplica</option>
                        </select>
                        <div class="mensaje"></div>
                    </label>
                    <label>
                        <span>Recibida:</span>
                        <select id="estado_urbanizacion_recibida">
                            <option value="0" {{if eq .CamposPropiedades.Estado_UrbaRecibida 0}}selected{{end}}>Seleccionar</option>
                            <option value="1" {{if eq .CamposPropiedades.Estado_UrbaRecibida 1}}selected{{end}}>Si</option>
                            <option value="2" {{if eq .CamposPropiedades.Estado_UrbaRecibida 2}}selected{{end}}>No</option>
                            <option value="3" {{if eq .CamposPropiedades.Estado_UrbaRecibida 3}}selected{{end}}>No Aplica</option>
                        </select>
                        <div class="mensaje"></div>
                    </label>
                    <label>
                        <span>Garantizada:</span>
                        <select id="estado_urbanizacion_garantizada">
                            <option value="0" {{if eq .CamposPropiedades.Estado_UrbaGarantizada 0}}selected{{end}}>Seleccionar</option>
                            <option value="1" {{if eq .CamposPropiedades.Estado_UrbaGarantizada 1}}selected{{end}}>Si</option>
                            <option value="2" {{if eq .CamposPropiedades.Estado_UrbaGarantizada 2}}selected{{end}}>No</option>
                            <option value="3" {{if eq .CamposPropiedades.Estado_UrbaGarantizada 3}}selected{{end}}>No Aplica</option>
                        </select>
                        <div class="mensaje"></div>
                    </label>
                </div>
                <div>
                    <input type="button" onclick="fm(this)" value="Enviar">
                </div>
            </fieldset>
        </form>
    </div>
</div>