<div class="mt">
    <h1>{{.Titulo}}</h1>
    <ul class="clearfix valign">
        <a class="back icn r1" title="Mis Cotizaciones" onclick='navlink("/pages/AdminCotizacion")'></a>
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>{{.SubTitulo}}</h1>
            <h2>{{.SubTitulo2}}</h2>
            <ul class="clearfix valign">
                <li class="back" onclick="backurl()"></li>
                <li class="back" onclick="backurl()"></li>
            </ul>
        </div>
        <form action="" method="post" class="basic-grey">
            <fieldset>
                <input id="accion" type="hidden" value="{{.FormAccion}}" />
                <div class="checkbox">
                    <div class="csubtitulo">Propiedades</div>
                    {{ range .Lista }}
                    <div class="cops">
                        <input id="{{.Id}}" value="1" type="checkbox" {{if eq $.FormId .Id}}checked="checked"{{end}} />
                        <div>{{.Nombre}}</div>
                    </div>
                    {{end}}
                </div>
                <div>
                    <input type="button" onclick="fm(this)" value="Enviar">
                </div>
            </fieldset>
        </form>
    </div>
</div>