<div class="mt">
    <h1>{{.Nombre}}</h1>
    <ul class="clearfix valign">
        <a class="back icn r2" title="Datos Municipales" onclick='navlink("")'></a>
    </ul>
</div>
<hr>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>Resumen</h1>
            <h2>Estadisticas y Precios</h2>
        </div>
        <div class="init clearfix" style="margin-top: 10px">
            <div id="container" class="col1"></div>
            <div id="container2" class="col1" style="background: #EEE;"></div>
            <div class="col1" style="background: #DDD;"></div>
        </div>
    </div>
</div>

<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>Resumen</h1>
            <h2>Estadisticas y Precios</h2>
        </div>
        <ul class='lu'>
            {{ range $idPro, $Pro := .Resp.Prods }}
            <li class="u">                
                <div class="no">{{$Pro.Nombre}}</div>
                <div class="btns clearfix valign">
                    <a title="Modificar" class="icn mas lpb-{{$idPro}}" onclick="ToogleInfo(0, {{$idPro}})"></a>
                </div>
            </li>
            <div class="contlu lp-{{$idPro}}">
                {{ range $Pro.Lista }}
                <li class="u">
                    <div class="no">{{.Nombre}}</div>
                    <div class="btns clearfix valign">
                        <a title="Modificar" class="icn car" onclick="AddCart({{.Id}},{{$idPro}})"></a>
                    </div>
                </li>
                {{ end }}
            </div>
            {{end}}
        </ul>
    </div>
</div>
<div class="i">
    <div class="fc" id="info-0">
        <div class="fct">
            <h1>Resumen</h1>
            <h2>Estadisticas y Precios</h2>
        </div>
        <ul class='lu'>
            {{ range $idAle, $Ale := .Resp.Alertas }}
            <li class="u" rel="{{$idAle}}">                
                <div class="no">{{$Ale.Nombre}}</div>
                <div class="btns clearfix valign">
                    <a title="Modificar" class="icn mas lab-{{$idAle}}" onclick="ToogleInfo(1, {{$idAle}})"></a>
                </div>
            </li>
            <div class="contlu la-{{$idAle}}">
                {{ range $Ale.Lista }}
                <li class="u">
                    <div class="no">{{.Nombre}}</div>
                    <div class="btns clearfix valign">
                        <a title="Modificar" class="icn car" onclick="AddCart({{$idAle}},{{.Id}})"></a>
                    </div>
                </li>
                {{ end }}
            </div>
            {{end}}
        </ul>
    </div>
</div>



<div style="width:100%;background: #fff;">
<div>Nombre: {{.Nombre}}</div>
<div>Precio: {{.Precio}}</div>
<div>UF: {{.UF}}</div>
<div>Total Notificaciones: {{.Resp.TotalNotificaciones}}</div>
<div>Total Alertas: {{.Resp.TotalAlertas}}</div>
</div>





<script>

    initMap();
    function initMap() {
        
        const position = { lat: -25.344, lng: 131.036 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,
            center: position,
        });
        const marker = new google.maps.Marker({
            position: position,
            map: map,
            draggable: true
        });
        google.maps.event.addListener(marker, 'dragend', function (evt) {
            $('#lat').html(evt.latLng.lat().toFixed(6));
            $('#lng').html(evt.latLng.lng().toFixed(6));
            map.panTo(evt.latLng);
        });

    }

    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,
            backgroundColor: 'rgba(0,0,0,0)',
            type: 'pie',
            height: 200,
            margin: [0, 0, 0, 0]
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                colors: ["#666666", "#888888", "#aaaaaa"],
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>',
                    distance: -10,
                    filter: {
                        property: 'percentage',
                        operator: '>',
                        value: 4
                    }
                }
            }
        },
        series: [{
            name: 'Share',
            data: [
                { name: 'Completado', y: 75.0 },
                { name: 'Alerta', y: 15.0 },
                { name: 'Notificacion', y: 10.0 },
            ]
        }]
    });
    
</script>
<div>
    <div id="map" style="width:100%; height:400px;"></div>
    <div id="lat">LAT</div>
    <div id="lng">LNG</div>
</div>
